.loadContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000;
    background-color: white;
}

.load {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-top: 3px solid #f25a4100;
    border-radius: 50%;
    position: absolute;
    z-index: 1000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
    display: block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}