@media (max-width: 1239px) {
    .swiper-pagination {
        display: none;
    }

    .btn-search {
        padding: 0 0.5rem 0 0;
    }

    .btn-search--text {
        display: none;
    }

    .btn-search--icon {
        width: 30%;
        margin-right: 0;
    }

    .navbar-header-cart--icon {
        width: 50%;
    }

    .header-menu_bar {
        flex-wrap: nowrap;
        overflow: hidden;
    }
}

@media (min-width: 1240px) {
    .item-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (max-width: 739px) {
    .navbar-header {
        height: 5.5rem;
        padding: 0 1rem;
    }

    .navbar-header-logo img {
        width: 100%;
    }

    .navbar-header-search {
        width: 60%;
        margin: auto;
    }

    .navbar-header-cart--icon {
        width: 80%;
    }

    .navbar-header-user {
        display: none;
    }

    .header-menu_bar {
        display: none;
    }

    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        display: none;
    }

    .navbarMobile {
        display: flex;
    }
}