@media (max-width: 1239px) {
    .swiper-pagination {
        display: none;
    }

    .btn-search {
        padding: 0 0.5rem 0 0;
    }

    .btn-search--text {
        display: none;
    }

    .btn-search--icon {
        margin-right: 0;
    }
}

@media (min-width: 1240px) {
    .item-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (max-width: 739px) {
    .navbar-header {
        padding: 0 1rem;
    }

    .navbar-header-search {
        width: 60%;
        margin: auto;
    }

    .navbar-header-user {
        display: none;
    }

    .header-menu_bar {
        flex-wrap: nowrap;
    }

}