.swiper {
    width: 100%;
    border-radius: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sliderBtn {
    background-color: black;
    color: white;
    width: 5rem;
    height: 10rem;
    border-radius: 10%;
    transition: 0.3s all linear;
}

.swiper-button-next {
    right: -10rem;
}

.swiper-button-prev {
    left: -10rem;
}

.mySwiper:hover .swiper-button-next {
    right: 1rem;
}

.mySwiper:hover .swiper-button-prev {
    left: 1rem;
}

.mySwiper .swiper-pagination {
    bottom: -2rem;
    transition: 0.3s all linear;
}

.mySwiper:hover .swiper-pagination {
    bottom: 1rem;
}

.swiper-pagination-bullet {
    border: 0.1rem solid white;
    opacity: 1;
    background: black;
    width: 1.5rem;
    height: 1.5rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: white;
}